<!DOCTYPE html>
<html ng-app="ShoppingListCheckOff">

<head>
    <title>Shopping List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>

<body>
    <div ng-controller="ToBuyController as toBuy">
        <h2>To Buy:</h2>
        <ul>
            <li ng-repeat="item in toBuy.items">
                {{ item.name }} - {{ item.quantity }}
                <button ng-click="toBuy.buyItem($index)">Bought</button>
            </li>
        </ul>
        <p ng-if="toBuy.isEmpty()">Everything is bought!</p>
    </div>

    <div ng-controller="AlreadyBoughtController as bought">
        <h2>Already Bought:</h2>
        <ul>
            <li ng-repeat="item in bought.items">
                {{ item.name }} - {{ item.quantity }}
            </li>
        </ul>
        <p ng-if="bought.isEmpty()">Nothing bought yet.</p>
    </div>
</body>

</html>